<!DOCTYPE html>
<html lang="en">
<head>
  <title>Daschboard</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
   <style>
.table {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

.table  td, .table th {
  border: 1px solid #ddd;
  padding: 8px;
}

.table  tr:nth-child(even){background-color: #f2f2f2;}

.table tr:hover {background-color: #ddd;}

.table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4CAF50;
  color: white;
}
</style>
</head>
<body>
<nav class="navbar navbar-inverse">
  <ul class="nav navbar-nav">
    <li><a href="/admin/utilisateurs">Utilisateurs</a></li>
    <li><a href="/admin/salle">Salles</a></li>
    <li><a href="/admin/reservation">Réservation</a></li>
    <li><a href="/logout">Logout</a></li>
  </ul>
  
</nav>

<table class="table">
  <tbody>
        {% for user in user %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.username }}</td>
                <td>{{ user.password }}</td>
                <td>{{ user.roles ? user.roles|json_encode : '' }}</td>
                <td>
                   <a href="delete/{{ user.id}}">delete</a></td>
       <td><a href="update/{{ user.id}}">editer</a></td>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
   
   
   

</table>
</body>
</html>
